---
import BaseLayout from "../layouts/BaseLayout.astro";

const res = await fetch(
  "https://public-api.wordpress.com/wp/v2/sites/shravandesign4.wordpress.com/pages"
);

const pages = await res.json();
const page = pages.find(p => p.slug === "homes");
---

<BaseLayout>
  <section class="container wp-content">
    {page ? (
      <>
        <h1 set:html={page.title.rendered} />
        <div set:html={page.content.rendered} />
      </>
    ) : (
      <p>Home page not found from WordPress CMS.</p>
    )}
  </section>
</BaseLayout>
