---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="container">
    <h1>Our Products</h1>

    <ul>
      <li><strong>Bacillus coagulans SNZ 1969®</strong></li>
      <li><strong>Bacillus subtilis SNZ 1972™</strong></li>
      <li><strong>Saccharomyces boulardii SNZ 1986™</strong></li>
    </ul>
  </section>
</BaseLayout>
